* {
	font-family: 'Architects Daughter', cursive;
}

#options > * {
	border-radius: 5px;
	padding: 5px;
	background: #EEE;
}

#options > .voted {
	background: #CFF;
}

#options > .enabled {
	background: #DDD;
}

#options > .enabled:hover {
	background: #FFC;
}
