{% extends "base.html" %}

{% block main %}
    <div id="app">
        <h1>Let me tell you a story...</h1>
        <div id="story"></div>
        <h2>Vote on the next paragraph:</h2>
        <div id="options"></div>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock%}

{% block js %}
    <script src="{{ url_for('static', filename='js/api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock%}
